<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620764597890-108s19kvmalcg610st48fnm1h786mg42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620764597890-108s19kvmalcg610st48fnm1h786mg42</string>
	<key>API_KEY</key>
	<string>AIzaSyBv3qL8HFcMXn5sTX1s9sx9xZWEl3gym30</string>
	<key>GCM_SENDER_ID</key>
	<string>620764597890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harunsimsek.nnews</string>
	<key>PROJECT_ID</key>
	<string>nnews-a7b81</string>
	<key>STORAGE_BUCKET</key>
	<string>nnews-a7b81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620764597890:ios:5ca950f6090067b00fae9b</string>
</dict>
</plist>